* { font-family: Arial, Helvetica, sans-serif; }
p.general { font-size: 19px; }
body 
{
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 18% auto 18%;
    grid-template-rows: 7.5rem 4.5rem auto 5rem;
    grid-template-areas:
    'header   header header'
    'nav      nav    nav'
    'sidebar1 main   sidebar2'
    'footer   footer footer';
}

/* header */
header{
    grid-area: header;
    text-align: center;
    color: white;
    background-color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 11%;
    background-image: url('backdrop.png');
    background-repeat: no-repeat;
    background-size:cover ;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
header figure img{
    max-width: 110px;
}

/* navigatie */
nav{
    grid-area: nav;
    border-width:1px 0;
    height: 200;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    overflow: hidden;
    background-color: #626fff;
}
nav li{
    display:inline;
}
nav ul li a{
    display:inline-block;
    padding:10px;
    color: white;
    text-decoration: none;
}
nav ul li button {
    background-color: #626fff;
    border: none;
    color: white;
    padding: 0px 50px; 
    font-size: 17px;
    opacity: 1;
    transition: 0.3s;
}
nav ul li button:hover {
    opacity: 0.6
}
nav ul li a.active {
    color: rgb(143, 143, 143);
}
nav ul li input {
    border-radius: 1.5rem;
    padding: 0.4rem;
}

/* sidebars */
sidebar1{
    grid-area: sidebar1;
    background-color: #e5e5f7;
opacity: 0.8;
background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
}
sidebar2{
    grid-area: sidebar2;
    background-color: #e5e5f7;
opacity: 0.8;
background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
}

/* main */
main
{
    padding-top: 25px;
    padding-bottom: 25px;
    grid-area: main;
    background-color: #e5e5f7;
opacity: 0.8;
background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
background-size: 10px 10px;
}

/* index page */
main section.top p {
    margin-bottom: 2rem;
    text-align:justify;
}
main section.top h2 {
    font-size: 30px;
    text-align: center;
}
main section.top a.button {
    background-color: #626fff;
    border: none;
    color: white;
    padding: 13px 28px; 
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    opacity: 1;
    transition: 0.3s;
}
main section.top a.button:hover {
    opacity: 0.8
}
main section.top img {
    border-radius: 1rem;
    margin: 5% 10% 0% 10%;
    width: 80%;
}
main section.top figcaption {
    border-radius: 1rem;
    margin: 0% 10% 5% 10%;
    width: 80%;
    font-size: 0.8rem;
}
main section.bottom {
    padding: 1.5rem 1.5rem 1.5rem 1rem;
    background-color: #626fff;
    border-radius: 1.5rem;
    display: flex;
    align-items: top;
}
main section.bottom img {
    max-width: 200px;
    max-height: 300px;
}
main section.bottom p {
    padding: 0px 50px 20px 10px;
    text-align:justify ;
}

/* fruist & karakter page */
main section.intro h2 {
    font-size: 30px;
    text-align: center;
}
main section.inhoud {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
main section.inhoud div {
    padding: 0.7rem 0.7rem 0.7rem 0rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: #626fff;
    border-radius: 1rem;
    display: flex;
    align-items: top;
    width: 560px;
}
main section.inhoud div a {
    text-decoration: none;
    color: white;
}
main section.inhoud div img {
    max-height: 200px;
    height: 150px;
    max-width: 150px;
    border-radius: 0.4rem;
}
main section.inhoud div figcaption {
    border-radius: 1rem;
    width: 150%;
    font-size: 0.8rem;
}
main section.inhoud p {
    padding: 0px 20px 0px 0px;
}
main section.inhoud .title {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: underline;
}

/* detail pages */
main div.detailpage {
    background-color: #626fff;
    color: white;
    width: auto;
    border: solid black 2px;
    border-radius: 1.5rem;
    margin-left: 2%;
    margin-right: 2%;
}
main section.detailtop h2 {
    text-align: center;
    font-size: 30px;
}
main section.detailtop img {
    border-radius: 1rem;
    margin: 0% 5% 0% 5%;
    width: 90%;
}
main section.detailtop figcaption {
    margin-left: 5%;
    font-size: 0.8rem;
}
main section.details {
    padding: 0% 5% 0% 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
main section.details p.info{
    width: 48%;
    padding-right: 1.6rem;
    font-size: 17px;
}
main div.detailpage div input {
    background-color: #626fff;
    color: white;
    border: white 1px solid;
    border-radius: 1.5rem;
    opacity: 1;
    transition: 0.3s;
}
main div.detailpage div input:hover {
    opacity: 0.6
}

/* comment form - detail pages */
form.comment {
    width: 50%;
    margin: 1%;
    border: none;
}
form.comment div label{
    font-size: 18px;
}
form.content textarea {
    border-radius: 8px 8px;
    border: none;
    width: 99.5%;
}
form button[type=submit] {
    background-color: #626fff;
    border: solid 2px white;
    color: white;
    align-content: right;
    margin-left: 80%;
    margin-top: 5px;
    border-radius: 10px;
    padding: 5px 0px; 
    text-align: center;
    text-decoration: none;
    opacity: 1;
    transition: 0.3s;
}
form button[type=submit]:hover {
    opacity: 0.6
}
/* table - detail pages */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}
table caption {
    font-weight: bold;
    font-size: larger;
}
table tbody tr td {
    width:50%;
    padding: 0.3rem;
    border: 2px solid black;
}
table tbody tr td img{
    max-height: 200px;
    vertical-align: middle;
}
table tbody tr:nth-child(odd) {
    background-color: rgb(65, 65, 65);
}
table tbody tr:nth-child(even) {
    background-color: rgb(70, 70, 70);
}
table tfoot tr td
{
    text-align: center;
}
table tfoot tr td a {
    text-decoration: none;
    color: white;
}
table tfoot tr td button {
    background-color: #626fff;
    border: white 2px solid;
    border-radius: 10px;
    width: 250px;
    font-size: 20px;
    padding: 13px 0px; 
    text-align: center;
    opacity: 1;
    transition: 0.3s;
    margin-top: 5px;
}
table tfoot tr td button:hover {
    opacity: 0.6
}
.btn--right {
    text-align: right;
}
span.marker {
    font-size: 8px;
    vertical-align: top;
}
table tbody.extra tr td {
    background-color: #626fff;
    border: none;
}
table tbody.extra tr td p.extra {
    font-size: 20px;
    margin-top: 0%;
}
/* contact page */
p.contact {
    text-align: center;
    font-size: 20px;
}
p.verplicht {
    text-align: center;
    font-size: 15px;
}

/* contact page - form */
form {
    background-color: #626fff;
    color: white;
    width: auto;
    border: solid black 2px;
    border-radius: 1.5rem;
    margin-left: 10%;
    margin-right:10%;
}
form legend {
    font-size: 1.1rem;
}
form div {
    font-size: 0.8rem;
    margin: 0 0.7rem 0.6rem;
}
form button {
    background-color: #626fff;
    border: solid 0.2rem white;
    color: white;
    width: 20%;
    margin: 5% 5% 0% 40%;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 0px; 
    text-align: center;
    text-decoration: none;
    opacity: 1;
    transition: 0.3s;
}
form button:hover{
    opacity: 0.8;
}
form input {
    height: 1.5rem;
    border-radius: 8px 8px;
    border: none;
}
form label {
    display: inline-block;
    min-width: 8rem;
    padding: 5px 0px 5px 0px;
    font-size: 15px;
}
form select {
    width: 70%;
    display: block;
    min-height: 1.5rem;
    margin: 5px 0;
    padding: 5px 0;
    border-radius: 8px 0 0 8px;
    border: none;
}
form textarea {
    border-radius: 8px 8px;
    border: none;
    width: 99.5%;
}
form input[type=text] {
    width: 40%;
}

/* footer */
footer {
    grid-area: footer;
    font-size: 12px;
    background-color: #626fff;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
}